source "C:/Users/jeron/.espressifcon/v5.5.1/esp-idf/components/bootloader/Kconfig.projbuild"
source "C:/Users/jeron/.espressifcon/v5.5.1/esp-idf/components/esp_app_format/Kconfig.projbuild"
source "C:/Users/jeron/.espressifcon/v5.5.1/esp-idf/components/esp_rom/Kconfig.projbuild"
source "C:/Users/jeron/.espressifcon/v5.5.1/esp-idf/components/esptool_py/Kconfig.projbuild"
source "C:/Users/jeron/.espressifcon/v5.5.1/esp-idf/components/partition_table/Kconfig.projbuild"
source "C:/Users/jeron/Downloads/Universidad/2025-2/Real_time_system/project/gpio_generic/main/Kconfig.projbuild"